.App {
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.logo {
  margin-top: 15px;
  margin-left: 10px;
  height:40px;
}

.App-link {
  color: #61dafb;
}

