.App {
  /* Your existing styles for .App */
}

.App-header {
  display: flex;
  align-items: center; /* Vertically centers the contents of the header */
  justify-content: start; /* Aligns items to the start */
  padding: 10px 20px;
  background-color: bisque;
}

.App-logo {
  height: 50px; /* Adjust height as necessary */
  margin-right: 10px; /* Adjust side margins as necessary */
}

.App-link {
  color: #61dafb;
}

.logout-button {
  margin-left: auto; /* Pushes the button to the right */
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
