.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;


}

.register-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

.input-label {
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #181717;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.register-button {
    margin-top: 10px;
    background-color: #ffb700;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #e0a600;
}
.login-link-container {
    margin-top: 15px;
}

.login-link {
    color: #007bff;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
