h1{
    text-align: center;
    font-size: 50px;
    font-family: "Comic Sans MS";
}
.container {
    margin-left: 300px;
    width: 1050px;
    overflow-y: auto;
    border: 2px solid bisque;
    box-shadow: 0 4px 8px 0 bisque;
}
.categories {
    display: flex;
    flex-direction: row;

    width: 1050px;
}

.category {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    border-radius: 10px;
    border: 2px solid black;
}

.category img {
    width:200px;
    height:200px;
    border-radius: 10px;
}